* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

.homepageHeader {
    height: 50vh;
    background-image: url("./assets/img/homepagebg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepageMain {
    padding: 10px;
}

.homepageMain h2 {
    font-size: 2rem;
}

.blogPageSection {
    display: grid;
    margin: 0 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}